################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cv-task-manager-Vontor/FileContentIndex/f706a1d7-a390-4af8-bb00-39dd36c5d87d.vsidx
/.vs
/task-manager/.vs
